.t_default {
  color: #000;
}
.t_name {
  color: #0077dd;
}
.t_link {
  color: #39739d;
}
.t_option {
  color: #a8a8a8;
}
.t_normal {
  color: #6a737c;
}
.t_lg {
  font-size: 16px;
}
.t_md {
  font-size: 14px;
}
.m_0 {
  margin: 0 !important;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bg_similar {
  background: #fff7e5;
}
h3 {
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.34;
  letter-spacing: -0.2px;
  color: #000000;
  cursor: pointer;
}
a {
  color: #0077dd;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}
.ct--main {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: -0.1px;
}
