.card {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    .card_body {
        .card_title {
            font-size: 1.857rem;
            font-weight: 700;
            line-height: 1.19;
            letter-spacing: 0.3px;
        }
        .card_text {
            font-size: 1.071rem;
            font-weight: 500;
            line-height: 1.27;
            letter-spacing: 0.2px;
        }
    }
}

.item--main {
    .item-img {
        overflow: hidden;
        &:before {
            display: block;
            padding-top: 65%;
            content: '';
        }
        img {
            top: 50%;
            max-width: none;
            width: 100%;
            height: auto;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.item--bottom {
    width: 100%;
}

.item--info {
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: 0.2px;
    color: #a8a8a8;
    font-size: 1em;
}


/* ChangColor */


/* Light */

.trend[data-theme='light'] {
    color: #3b4045;
    .item--info {
        .item--info-name {
            color: #3b4045;
        }
    }
}


/* Dark */

.trend[data-theme='dark'] {
    color: #f7f7f7;
    .item--info {
        .item--info-name {
            color: #f7f7f7;
        }
    }
}