.form {
  .card_title {
    font-size: 22px;
  }
  .form--content {
    border-top: 1px solid #e9ebee;
    .form_group {
      label {
        font-size: 13px;
        font-weight: 600;
        line-height: 1.23;
        letter-spacing: 0.1px;
      }
      input {
        font-size: 13px;
        font-weight: 600;
        line-height: 1.23;
        letter-spacing: 0.1px;
      }
      ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #dddfe2;
        font-weight: 400;
      }
      ::-moz-placeholder {
        /* Firefox 19+ */
        color: #dddfe2;
        font-weight: 400;
      }
      :-ms-input-placeholder {
        /* IE 10+ */
        color: #dddfe2;
        font-weight: 400;
      }
      :-moz-placeholder {
        /* Firefox 18- */
        color: #dddfe2;
        font-weight: 400;
      }
    }
  }
  .form--checkbox {
    font-size: 8px;
  }
  .form--btn {
    border-top: 1px solid #e9ebee;
    &.border--none {
      border-top: none;
    }
    button {
      width: 98px;
      height: 32px;
      font-size: 14px;
      font-weight: 600;
      border: 1px solid transparent;
      transition: all 0.5s ease;
      &.form--btn-save {
        background-color: #776ab0;
        margin-right: 5px;
        color: #fff;
        border-color: #776ab0;
        &:hover {
          color: #776ab0;
          background-color: transparent;
        }
      }
      &.form--btn-cancel {
        color: #0077dd;
        &:hover {
          border-color: #0077dd;
        }
      }
    }
  }
}
.location--remote {
  margin-bottom: 1em !important;
  .location--remote-item {
    height: 20px;
    font-size: 10px;
    font-weight: 500;
    line-height: 20px;
    white-space: normal;
    padding: 0 20px 0 5px;
  }
  .alert_dismissible .close {
    font-weight: 400;
    top: -3px;
    padding: 0;
    outline: none;
  }
}
.salary--group {
  input {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  select {
    background-color: #dddfe2;
    width: 75px;
    font-size: 13px;
    font-weight: 600;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &:focus {
      box-shadow: none;
    }
  }
  .select--wrapper {
    .select--wrapper-caret {
      color: #3b4045;
      top: 11px;
      right: 12px;
      pointer-events: none;
      transform: rotate(180deg);
    }
  }
}
