.job--items {
  border-bottom: 1px solid #e4e4e4;
  .job--title {
    h4 {
      line-height: 1.31;
      color: #0077dd;
      cursor: pointer;
    }
    span {
      top: 3.8rem;
      right: 1rem;
      z-index: +2;
    }
  }
  .job--of-company {
    line-height: 1.36;
    letter-spacing: -0.2px;
    color: #000000;
  }
  .job--offer {
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: -0.2px;
    color: #ff7011;
  }
  .job--tags {
    a {
      padding: 8px 15px;
      border: 1px solid #e4e4e4;
      border-radius: 28px;
      color: #a8a8a8;
      margin-right: 10px;
      text-decoration: none;
    }
  }
}
