.create--job {
    background: white !important;
    border: 1px solid #9999;
    box-shadow: 1px 1px 1px #9999;
    border-radius: 3px;
    padding: 17px 19px;

    .r {
      margin: 0px !important;
    }

    .title--job {
      border-bottom: 1px solid #9999;

      h2 {

        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #3b4045;
      }
    }

    .create--job--form {
      margin-top: 15px;

      label {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.23;
        letter-spacing: 0.1px;
        text-align: left;
        color: #3b4045;
      }

      .title_info {
        font-size: 20px;
        font-weight: 600;

        line-height: 1.25;
        letter-spacing: 0.2px;
        text-align: center;
        color: #3b4045;
      }

      .form_group {
        select {
          background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 130 130' %3e%3cpath fill='currentColor' height='18' width='18' d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
        }
        .btn_group{
          padding:0px !important;
        }
        .btn--add{
          background:#22c6ab;
          color:white;
          font-size: 14px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.29;
          letter-spacing: 0.2px;
          color: #ffffff;
        }
        .benefit{
          font-size: 13px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.23;
          letter-spacing: 0.1px;
          text-align: left;
          color: #9fa6ad;
          margin-bottom:3px;
        }
        .list--partner{
          .partner{
            width:34px;
            height:34px;
            margin-right:10px;
            border:1px solid #9999;
          }
        }
       
      }
       .btn--create{
          margin-top:20px;
          background:#776ab0 !important;
          border-color:#776ab0 !important;
        }
    }
  }