.info--tag {
  margin: 8px 0;

  .tag--item {
    padding: 6px 9px;
    border: 1px solid #a8a8a8;
    color: #a8a8a8;
    border-radius: 28px;
    margin-right: 5px;
    text-decoration: none;

    &:hover,
    &:focus {
      border-color: #776ab0;
      color: #776ab0;
    }
  }
}
